<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" /> 
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />



    <title>Register</title>
  </head>
  <body class="dark:bg-gray-900 bg-gray-100 dark:text-white">

    <div data-th-replace="navbar :: navbar"></div>

    <div class="flex items-center justify-center min-h-screen pt-16 mt-2">
      <!-- Card -->
      <div class="block p-6 w-100 mt-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-1  w-100 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">SignUp here</h5>
        <p class=" w-80 font-normal text-gray-700 dark:text-gray-400">Register to manage your contacts</p>
        <hr>
        <br>
       
        <div data-th-replace="message::messageBox"></div>
        
        <form 
          data-th-action="@{'/do-register'}"
          th:object="${userForm}" 
          method="post"
          novalidate
        >

          <div class="mb-4 w-100">
            <label for="name" 
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Your Name</label>

            <input 
            type="text" 
            id="name" 
            th:field="*{name}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="Enter Name here.." required 
            />

            <p 
            data-th-if="${#fields.hasErrors('name')}"
            data-th-errors="*{name}"
            class="text-red-600">
            </p>
          </div>

          <div class="mb-4 w-100">
            <label for="email" 
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Your Email</label>

            <input 
            type="email" 
            th:field="*{email}"
            id="email" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="Enter Email here.." required 
            />
            <p 
            data-th-if="${#fields.hasErrors('email')}"
            data-th-errors="*{email}"
            class="text-red-600">
            </p>


          </div>

          <div class="mb-4 w-100">
            <label for="password" 
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Your password</label>

            <input 
            type="password" 
            id="password" 
            th:field="*{password}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="Enter password here.." required 
            />

            <p 
            data-th-if="${#fields.hasErrors('password')}"
            data-th-errors="*{password}"
            class="text-red-600">
            </p>

          </div>

          <div class="mb-4 w-100">
            <label for="contact" 
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Your Mobile Number</label>

            <input 
            type="tel" 
          
            id="phoneNumber"
            th:field="*{phoneNumber}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="Enter Mobile Number here.." required 
            />

            <p 
            data-th-if="${#fields.hasErrors('phoneNumber')}"
            data-th-errors="*{phoneNumber}"
            class="text-red-600">
            </p>

          </div>

          <div class="mb-1 w-100">
            <label for="gender" 
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Your  Gender</label>

            <input 
            type="text" 

            id="gender" 
            th:field="*{gender}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="Enter  Gender here.." required 
            />

            <p 
            data-th-if="${#fields.hasErrors('gender')}"
            data-th-errors="*{gender}"
            class="text-red-600">
            </p>

          </div>

          <div>
              <label 
              for="about" 
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              About You</label>

              <textarea 
              id="about" 
              th:field="*{about}"
              rows="2" 
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
              placeholder="Write here..."
              >

              <p 
              data-th-if="${#fields.hasErrors('about')}"
              data-th-errors="*{about}"
              class="text-red-600">
              </p>

              </textarea>
            </div>
            <div class="mb-4 mt-2 flex justify-center space-x-3">
              <button
              type="submit" 
              class="px-3 py-2 rounded bg-gray-600 text-white dark:bg-blue-700 dark: hover:bg-blue-800">
              SignUp</button>

              <button
              type="reset" 
              class="px-3 py-2 rounded bg-red-800 text-white dark:bg-orange-600 dark: hover:bg-blue-800">
              Reset</button>
            </div>
        </form>

      </div>
      <!-- End Card -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
  </body>
</html>

